<div ng-controller="AllUserEventController as AllUserEventCtrl">
	<div class="jumbotron banner">
  		<h1>All User Event</h1>
	</div>

	<div class="container">
		<!-- Sort Button -->
		<div class="col-xs-offset-5 col-xs-2 userevent-button">
		<button type="button" class="btn btn-primary marg-bottom col-xs-12" data-toggle="collapse" data-target="#sortOption" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Sort</button>
		</div>

	    <div class="collapse col-xs-12" id="sortOption">
	      <div class="row">
	          <div class="col-xs-2 col-md-offset-4 marg-bottom">
	            <div class="caption">
	              	<h4 style="text-align:center">Date</h4>
	                <select ng-model="select.date" class="btn-lg col-xs-12">
	                  <option value="">All</option>
	                  <option ng-repeat="date in UserCtrl.dates" value="{{date}}">{{date}}</option>
	                </select>
	            </div>
	          </div>
	          <div class="col-xs-2 marg-bottom">
	            <div class="caption">
	              	<h4 style="text-align:center">Bristol Type</h4>
	              	<select ng-model="select.bristol" class="btn-lg col-xs-12">
	              	  <option value="">All</option>
	                  <option ng-repeat="bristol in UserCtrl.bristols" value="{{bristol}}">{{bristol}}</option>
	                </select>
	            </div>
	          </div>
	      	</div>
	    </div>
	</div>

	<div class="container datatable">
	  <table class="table table-striped">
	    <thead>
	      <tr class="something">
	      	<th class="col-md-3">Name</th>
		    <th class="col-md-3">Date</th>
		    <th class="col-md-2">Time</th>
		    <th class="col-md-2">Bristol</th>
		    <th class="col-md-2">Location</th>
		  </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="alldetail in AllUserEventCtrl.alluserdata | orderBy:'-date'" valign="center">
	      	<td class="col-md-3"><a ng-href="/#/user/{{alldetail.userid}}">{{alldetail.username}}</a></td>
	        <td class="col-md-3">{{alldetail.date}}</td>
	        <td class="col-md-2">{{alldetail.time}}</td>
		    <td class="col-md-2"><span class="label label-primary bristle">{{alldetail.bristol}}</span></td>
		    <td class="col-md-2">
		    	<button ng-model="UserCtrl.val" type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal{{alldetail.indexID}}">
				  Click here
				</button>
				<!-- Modal -->
				<div class="modal fade" id="myModal{{alldetail.indexID}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h3 class="modal-title" id="myModalLabel">Location Information</h3>
				      </div>
				      <div class="modal-body">
				        <div class="row infotab">
				        	<div class="col-xs-2 "><h4>DeviceID  </h4></div>
				        	<div class="col-xs-10"><h4>: {{alldetail.devid}}</h4></div>
				        </div>
				        <div class="row infotab">
				        	<div class="col-xs-2 "><h4>IPAdress  </h4></div>
				        	<div class="col-xs-10"><h4>: {{alldetail.ipaddr}}</h4></div>
				        </div>
				        <div class="row infotab">
				        	<div class="col-xs-2 "><h4>Latitude  </h4></div>
				        	<div class="col-xs-10"><h4>: {{alldetail.lat}}</h4></div>
				        </div>
				        <div class="row infotab">
				        	<div class="col-xs-2 "><h4>Longitude  </h4></div>
				        	<div class="col-xs-10"><h4>: {{alldetail.lon}}</h4></div>
				        </div>
				        <div class="row infotab">
				        	<div class="col-xs-12"><h4>Map <a class="btn btn-success" href="http://ime.ist.hokudai.ac.jp/~yamamoto/kawaya/kawaya-map.cgi?k_lang=0&devid=155eb38dc8cd8f2&lat={{alldetail.lat}}&lon={{alldetail.lon}}" role="button" style="margin-left:10px;">Click here</a></h4></div>
				        </div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>
		    </td>
	      </tr>
	    </tbody>
	  </table>
	</div>

</div>