<div ng-controller="MainController as controller">
  <div class="jumbotron banner">
    <h1>Kawaya Diary</h1>
  </div>
  <!-- filter panel -->
  <div class="container">
    
  </div>

  <!-- search bar -->
  <div class="container searchbar">
    
  </div>

  <!-- main panel -->
  <h3>Main Panel</h3>
  <div class="container">
    <button type="button" class="col-xs-12 col-md-6 col-lg-4 btn btn-default user container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-3 image-container">
            <img src="src/image/user-icon.png" class="img-rounded img-responsive image-profile">
          </div>
          <div class="col-xs-9 info">
            <div class="row">
              <div class="col-xs-12">
                <h4>Name: {{controller.allUserData[0].name}}</h4>
              </div>
              <div class="col-xs-12">
                UserID: {{controller.allUserData[0].userid}}
              </div>
            </div>
            <div class="row secondary-info">
              <div class="col-xs-12">Age: {{20}}</div>
              <div class="col-xs-12">Sex: {{controller.allUserData[0].sex}}</div>
              <div class="col-xs-12">Date of Birth: {{controller.allUserData[0].dob}}</div>
              <div class="col-xs-12">Contact: {{controller.allUserData[0].contact}}</div>
            </div>
          </div>
        </div>
      </div>
    </button>
  </div>
</div>

