<div ng-controller="MainController as controller">
  <div class="jumbotron banner">
    <h1>Kawaya Diary</h1>
  </div>
  <!-- filter panel -->
  <div class="container">
    
  </div>

  <!-- search bar -->
  <div class="container searchbar">
    
  </div>

  <!-- main panel -->
  <h3>Main Panel</h3>
  <div class="container">
  </div>
</div>

