<div ng-controller="UserEventController as UserCtrl">
	<div class="jumbotron banner">
		<div class="container">
			<div class="col-xs-offset-1 col-xs-3 col-md-offset-3 col-md-2 image-container">
				<img src="src/image/user-icon.png" class="img-rounded img-responsive image-profile">
			</div>
			<div class="col-xs-8 col-md-7 info user-personal-data">
				<div class="container">
					<div class="col-xs-5 col-md-4">
		            	<b>Name: </b>
		            </div>
		            <div class="col-xs-7 col-md-8">
		            	<b>{{UserCtrl.userdata.name}}</b>
		            </div>

		            <div class="col-xs-5 col-md-4">
		              	UserID: 
		            </div>
		            <div class="col-xs-7 col-md-8">
		            	{{UserCtrl.userdata.userid}}
		            </div>

					<div class="col-xs-5 col-md-4">
		              	Age: 
		            </div>
		            <div class="col-xs-7 col-md-8">
		            	{{UserCtrl.calAge(UserCtrl.userdata.dob)}}
		            </div>

		            <div class="col-xs-5 col-md-4">
		              	Sex:
		            </div>
		            <div class="col-xs-7 col-md-8">
		            	{{UserCtrl.userdata.sex}}
		            </div>

		            <div class="col-xs-5 col-md-4">
		              	Date of Birth:
		            </div>
		            <div class="col-xs-7 col-md-8">
		            	{{UserCtrl.userdata.dob}}
		            </div>

		            <div class="col-xs-5 col-md-4">
		              	Contact:
		            </div>
		            <div class="col-xs-7 col-md-8">
		            	{{UserCtrl.userdata.contact}}
		            </div>
	            </div>
			</div>
		</div>
	</div>

	<div class="container">
		<!-- Sort Button -->
		<div class="col-xs-offset-4 col-xs-2 userevent-button">
		<button type="button" class="btn btn-primary marg-bottom col-xs-12" data-toggle="collapse" data-target="#sortOption" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Sort</button>
		</div>
	  
		<!-- Chart Button -->
		<div class="col-xs-2 userevent-button">
		<button type="button" class="btn btn-info col-xs-12 marg-bottom" data-toggle="modal" data-target="#myModal">
		  <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Chart
		</button>
		</div>

	    <div class="collapse col-xs-12" id="sortOption">
	      <div class="row">
	          <div class="col-xs-2 col-md-offset-4 marg-bottom">
	            <div class="caption">
	              	<h4 style="text-align:center">Date</h4>
	                <select ng-model="select.date" class="btn-lg col-xs-12">
	                  <option value="">All</option>
	                  <option ng-repeat="date in UserCtrl.dates" value="{{date}}">{{date}}</option>
	                </select>
	            </div>
	          </div>
	          <div class="col-xs-2 marg-bottom">
	            <div class="caption">
	              	<h4 style="text-align:center">Bristol Type</h4>
	              	<select ng-model="select.bristol" class="btn-lg col-xs-12">
	              	  <option value="">All</option>
	                  <option ng-repeat="bristol in UserCtrl.bristols" value="{{bristol}}">{{bristol}}</option>
	                </select>
	            </div>
	          </div>
	      	</div>
	    </div>
	</div>
	
	<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Chart</h4>
	      </div>
	      <div class="modal-body">
	        <div id="chart_div"></div>	      
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="container datatable">
	  <table class="table table-striped">
	    <thead>
	      <tr class="something">
		    <th class="col-md-3">Date</th>
		    <th class="col-md-3">Time</th>
		    <th class="col-md-3">Bristol</th>
		    <th class="col-md-3">Location</th>
		  </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="userdetail in UserCtrl.indv | orderBy:'-date' | filter: select.date | filter: bristolFilter" valign="center">
	        <td class="col-md-2">{{userdetail.date}}</td>
	        <td class="col-md-2">{{userdetail.time}}</td>
		    <td class="col-md-3"><span class="label label-primary bristle">{{userdetail.bristol}}</span></td>
		    <td class="col-md-3">
		    	<button ng-model="UserCtrl.val" type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal{{userdetail.indexID}}">
				  Click here
				</button>
				<!-- Modal -->
				<div class="modal fade" id="myModal{{userdetail.indexID}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h3 class="modal-title" id="myModalLabel">Location Information</h3>
				      </div>
				      <div class="modal-body">
				        <div class="row infotab">
				        	<div class="col-xs-2 "><h4>DeviceID  </h4></div>
				        	<div class="col-xs-10"><h4>: {{userdetail.devid}}</h4></div>
				        </div>
				        <div class="row infotab">
				        	<div class="col-xs-2 "><h4>IPAdress  </h4></div>
				        	<div class="col-xs-10"><h4>: {{userdetail.ipaddr}}</h4></div>
				        </div>
				        <div class="row infotab">
				        	<div class="col-xs-2 "><h4>Latitude  </h4></div>
				        	<div class="col-xs-10"><h4>: {{userdetail.lat}}</h4></div>
				        </div>
				        <div class="row infotab">
				        	<div class="col-xs-2 "><h4>Longitude  </h4></div>
				        	<div class="col-xs-10"><h4>: {{userdetail.lon}}</h4></div>
				        </div>
				        <div class="row infotab">
				        	<div class="col-xs-12"><h4>Map <a class="btn btn-success" href="http://ime.ist.hokudai.ac.jp/~yamamoto/kawaya/kawaya-map.cgi?k_lang=0&devid=155eb38dc8cd8f2&lat={{userdetail.lat}}&lon={{userdetail.lon}}" role="button" style="margin-left:10px;">Click here</a></h4></div>
				        </div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>
		    </td>
	      </tr>
	    </tbody>
	  </table>
	</div>

</div>