h4 {
	margin-top: 0px;
}

body {
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: lighter;
}

.banner {
	height: 400px;
	padding-top: 150px;
	text-align: center;
	/*background: linear-gradient(to right, #70C0E5 , #E5E5E5);*/
	background-image: url("/src/image/61606b7b.jpeg");
	background-size: cover;  
}

.image-container {
	padding-left: 0px;  
	padding-right: 0px;
}

.image-profile {
	border: #dadada;
    border-style: solid;
    border-width: 2px;
}

.user {
	margin: 10px;
	padding: 10px;
}

.user-container {
	padding: 10px;
}

.info {
	text-align: left;
}

.navbar-list-selection {
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	border: 0px;
	font-size: 1.5em;
}

.mode-button:hover {
	background-color: red;
}

.marg-bottom{
	margin-bottom: 20px;
}

.button-offset{
	margin-left: 20px;
	margin-right: 20px;
}
.sex-button{
	padding-left: 19px;
	padding-right: 19px;
}
.infotab{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.bristle{
	font-size: 14px;
}
.nav-button{
	text-align: center;
}

.user-personal-data {
	font-size: 1.5em;
	font-weight: lighter;
}

.userevent-sort {
	padding: 0px 10px 0px 10px;
}








